{
  symbol:
    width: 600
    pins: [
      [1, "VCC0", "power", "l"]
      [2, "3.3V", "supply", "r"]
      [3, "B5_P", "io", "l"]
      [4, "GND", "power", "n"]
      [5, "A5_N", "io", "l"]
      [6, "GND", "power", "n"]
      [7, "B6_P", "io", "l"]
      [8, "D5_P", "io", "r"]
      [9, "A6_N", "io", "l"]
      [10, "C5_N", "io", "r"]
      [11, "C7_P", "io", "l"]
      [12, "GND", "power", "n"]
      [13, "A7_N", "io", "l"]
      [14, "GND", "power", "n"]
      [15, "B8_P", "io", "l"]
      [16, "D6_P", "io", "r"]
      [17, "A8_N", "io", "l"]
      [18, "C6_N", "io", "r"]
      [19, "C9_P", "io", "l"]
      [20, "GND", "power", "n"]
      [21, "A9_N", "io", "l"]
      [22, "GND", "power", "n"]
      [23, "B10_P", "io", "l"]
      [24, "D11_P", "io", "r"]
      [25, "A10_N", "io", "l"]
      [26, "D12_N", "io", "r"]
      [27, "C11_P", "io", "l"]
      [28, "GND", "power", "n"]
      [29, "A11_N", "io", "l"]
      [30, "GND", "power", "n"]
      [31, "C13_P", "io", "l"]
      [32, "B14_P", "io", "r"]
      [33, "A13_N", "io", "l"]
      [34, "A14_N", "io", "r"]
      [35, "Ref0", "io", "l"]
      [36, "GND", "power", "n"]
      [37, "Ref1", "io", "l"]
      [38, "GND", "power", "n"]
      [39, "B15_P", "io", "l"]
      [40, "C15_P", "io", "r"]
      [41, "B16_N", "io", "l"]
      [42, "C16_N", "io", "r"]
      [43, "E15_P", "io", "l"]
      [44, "GND", "power", "n"]
      [45, "E16_N", "io", "l"]
      [46, "GND", "power", "n"]
      [47, "F15_P", "io", "l"]
      [48, "H15_P", "io", "r"]
      [49, "F16_N", "io", "l"]
      [50, "H16_N", "io", "r"]
      [51, "K15_P", "io", "l"]
      [52, "GND", "power", "n"]
      [53, "K16_N", "io", "l"]
      [54, "GND", "power", "n"]
      [55, "M15_P", "io", "l"]
      [56, "P15_P", "io", "r"]
      [57, "M16_N", "io", "l"]
      [58, "P16_N", "io", "r"]
      [59, "R15_P", "io", "l"]
      [60, "GND", "power", "n"]
      [61, "R16_N", "io", "l"]
      [62, "GND", "power", "n"]
      [63, "VCC1", "power", "l"]
      [64, "3.3V", "supply", "r"]
    ]
  package:
    custom:
      refdes: [0, 1.75]
      rows: [
        {
          start: [-16.5, -3.5]
          pitch: [1, 0]
          size: [0.7, 4.2]
          from: 1
          step: 2
          count: 11
          back: false
          square: true
        }
        {
          start: [-15.5, -3.5]
          pitch: [1, 0]
          size: [0.7, 4.2]
          from: 4
          step: 2
          count: 10
          back: true
          square: true
        }
        {
          start: [-3.5, -3.5]
          pitch: [1, 0]
          size: [0.7, 4.2]
          from: 23
          step: 2
          count: 21
          back: false
          square: true
        }
        {
          start: [-3.5, -3.5]
          pitch: [1, 0]
          size: [0.7, 4.2]
          from: 24
          step: 2
          count: 20
          back: true
          square: true
        }
      ]
      pads: [
        {
          num: 2
          location: [-16.5, -3.5]
          size: [0.7, 3.2]
          square: true
          back: true
        }
        {
          num: 64
          location: [16.5, -3.5]
          size: [0.7, 3.2]
          square: true
          back: true
        }
      ]
      silk: [
        {
          start: [-17.15, -1]
          end: [-17.15, -8.5]
          layer: 'edge'
          width: 0.1
        }
        {
          start: [-16.15, 0]
          end: [-6.15, 0]
          layer: 'edge'
          width: 0.1
        }
        {
          start: [-16.15, 0]
          end: [-17.15, -1]
          layer: 'edge'
          width: 0.1
        }
        {
          start: [-5.95, 0]
          end: [-4.95, -1]
          layer: 'edge'
          width: 0.1
        }
        {
          start: [-4.95, -1]
          end: [-4.95, -7.45]
          layer: 'edge'
          width: 0.1
        }
        {
          start: [-3.05, -1]
          end: [-3.05, -7.45]
          layer: 'edge'
          width: 0.1
        }
        {
          start: [-3.05, -1]
          end: [-2.05, 0]
          layer: 'edge'
          width: 0.1
        }
        {
          start: [-2.05, 0]
          end: [16.15, 0]
          layer: 'edge'
          width: 0.1
        }
        {
          start: [16.15, 0]
          end: [17.15, -1]
          layer: 'edge'
          width: 0.1
        }
        {
          start: [17.15, -1]
          end: [17.15, -8.5]
          layer: 'edge'
          width: 0.1
        }
      ]
      arc: [
        {
          location: [-4, -7.45]
          start: [-4.95, -7.45]
          angle: 180
          layer: 'edge'
          width: 0.1
        }
      ]
}